import React from "react";
import style from "./style/{{ properCase name }}Style.less";

const {{ properCase name }} = props => {
  return <div className={style.container}>content</div>;
}

export default {{ properCase name }};
